:root{
    --primary:#03A9F4;
    --secondary:#29B6F6;
    --terciary:#B2EBF2;
}

nav{
    padding: 0 10px 0 10px;
    background-color: var(--primary);
}

nav .right{
    position: absolute;
    top: 0px;
    right: 0px;
}



.nav-wrapper form{
    margin: auto;
    width: 50%;
}

.nav-wrapper .input-field{
    padding-top: 7px;
}

.nav-wrapper form #search{
    height: 50px;
}


nav .right img{
    margin: 17px;
    height: 30px;
    width: 30px;
    border: 2px solid white;
    cursor: pointer;
}

nav .right .imgProfil a{
    height: 64px;
}

.hidden{
    display: none;
}

